body {
    width: 100vw;
    height: 86vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 7vh 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

a:link, a:visited, a:active {
    color: black;
}

svg {
    width: 5vw;
    height: 5vw;
    cursor: pointer;    
}